@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ffffff;
}

:root {
    --fonte-padrao: "Heebo", sans-serif;
    --cor-texto-azul: #1e3d9f;
    --cor-texto-amarelo: #e6ae00;
}

body {
    background-color: #222222;
    font-family: var(--fonte-padrao);
}

header#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1#cabecalho__titulo {
    font-size: 4.5rem;
    color: var(--cor-texto-amarelo);
}

ul#menu__lista {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

ul#menu__lista li {
    margin-left: 1.5rem;
}

ul#menu__lista li a {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-texto-azul);
    font-weight: 900;
}

ul#menu__lista li a:hover {
    border-bottom: 3px solid var(--cor-texto-amarelo);
}

main {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

article#banner_apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

div#banner_apresentacao-descricao {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

h2#banner_apresentacao-titulo {
    font-size: 6rem;
    color: var(--cor-texto-amarelo);
    text-transform: uppercase;
}

h3#banner_apresentacao-subtitulo {
    font-size: 4rem;
}

img#banner_apresentacao-img {
    width: 25vw;
}

section#apresentacao {
    background-color: #323232;
}

article#apresentacao_sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img#apresentacao_sobre-img {
    width: 25vw;
    max-width: 350px;
    min-width: 250px;
    box-shadow: 0px 10px 17px 0px #000000;
}

div#apresentacao_sobre-texto {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h2#apresentacao_sobre-titulo {
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

p#apresentacao_sobre-paragrafo {
    text-align: center;
    font-size: 2.5rem;
}

article.apresentacao_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 5rem;
}

h2.apresentacao_cards-titulo {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

div.apresentacao_card {
    /*aqui*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.5rem 3.5rem;
}

div.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 300px;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
}
i.bi,
i.bi-code-slash,
i.bi-laptop,
i.bi-columns-gap {
    font-size: 5rem;
}
h2.cards-texto {
    font-size: 2rem;
    font-weight: 400;
}

section#skills {
    padding: 20px;
    background-color: #323232;
}

img.cards_img {
    width: 10vw;
}
