@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ffffff;
}

:root {
    --fonte-padrao: "Heebo", sans-serif;
    --cor-texto-azul: #1363df;
    --cor-texto-amarelo: #e6ae00;
    --bg-preto-2: #323232;
}

body {
    background-color: #222222;
    font-family: var(--fonte-padrao);
}

/* Aqui começa o cabeçalho */

div#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;
}

h1#cabecalho__titulo {
    font-size: 4.5rem;
    color: var(--cor-texto-amarelo);
}

div#menu-mobile {
    display: none;
}

div.menu_linhas {
    width: 45px;
    height: 2px;
    background-color: var(--cor-texto-amarelo);
}

ul#menu__lista {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
}

ul#menu_lista {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

ul#menu__lista li,
ul#menu_lista li {
    margin-left: 1.5rem;
}

ul#menu__lista li a,
ul#menu_lista li a {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-texto-azul);
    font-weight: 900;
    transition: all 50ms linear;
}

ul#menu__lista li a:hover,
ul#menu_lista li a:hover {
    border-bottom: 3px solid var(--cor-texto-amarelo);
}

/* Aqui termina o cabeçalho */

article#banner_apresentacao {
    background-image: url(../img/banner.png);
    background-position: 30% 45%;
    background-size: cover;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#banner_apresentacao-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(13.5px);
    border-radius: 10px;
}

h2#banner_apresentacao-titulo {
    font-size: 6rem;
    color: var(--cor-texto-amarelo);
    text-transform: uppercase;
    text-align: center;
}

h3#banner_apresentacao-subtitulo {
    font-size: 4rem;
    text-align: center;
}

section#apresentacao {
    background-color: var(--bg-preto-2);
    padding: 7rem 0;
}

article#apresentacao_sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

img#apresentacao_sobre-img {
    width: 25vw;
    max-width: 350px;
    min-width: 250px;
    box-shadow: 0px 10px 17px 0px #000000;
}

div#apresentacao_sobre-texto {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h2#apresentacao_sobre-titulo {
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

p#apresentacao_sobre-paragrafo {
    text-align: justify;
    font-size: 2.5rem;
}

section#servicos {
    padding: 7rem 0;
}

article.apresentacao_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding: 1rem;
}

h2.apresentacao_cards-titulo {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

div.apresentacao_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.5rem 3.5rem;
}

div.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 300px;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
    border-radius: 5px;
    transition: all 100ms;
}

div.cards:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

i.bi,
i.bi-code-slash,
i.bi-laptop,
i.bi-columns-gap {
    font-size: 5rem;
    color: var(--cor-texto-azul);
}
h2.cards-texto {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

section#skills {
    padding: 7rem 0;
    background-color: var(--bg-preto-2);
}

img.cards_img {
    width: 10vw;
    max-width: 138px;
    min-width: 118px;
}

section#projetos {
    padding: 7rem 0;
}

article#apresentacao_projetos {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

h2.apresentacao_projetos-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

div.projetos-cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem 5rem;
}

div.projetos_cards {
    width: 60%;
    max-width: 460px;
    min-width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem 4rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
    border-radius: 5px;
}

h2.projetos_cards-titulo {
    font-size: 3rem;
    color: var(--cor-texto-amarelo);
    text-align: center;
}

iframe.projetos_cards-video {
    width: 100%;
    min-width: 200px;
    height: 315px;
}

p.projetos_cards-descricao {
    font-size: 1.8rem;
    text-align: justify;
}
a#projetos_cards--descricao-link {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
}

a#projetos_cards--descricao-link:hover {
    text-decoration: underline;
}

section#contato {
    padding: 7rem 0;
    background-color: var(--bg-preto-2);
}

article#contato_apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
}

h2#contato_apresentacao-titulo {
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
    text-transform: uppercase;
}

div#cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

div.contato_apresentacao-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
    transition: all 60ms;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.contato_apresentacao-cards:hover {
    transform: scale(1.1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

img.contato_cards-img {
    width: 5vw;
    max-width: 72px;
    min-width: 40px;
}

footer#rodape {
    padding: 4rem 0;
}
p#rodape_texto {
    font-size: 2rem;
    text-align: center;
    color: var(--cor-texto-amarelo);
}
a#rodape_texto-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--cor-texto-azul);
}

a#rodape_texto-link:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    /* Aqui começa o cabeçalho */
    div#menu {
        display: none;
    }

    h1#cabecalho__titulo {
        font-size: 3rem;
        color: var(--cor-texto-amarelo);
    }

    div#menu-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0rem;
        gap: 2rem;
    }

    div#menu_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 100px;
    }
    nav#menu-lista {
        display: none;
    }
    /* Aqui termina o cabeçalho */

    article#apresentacao_sobre {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    div#cards {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    /* Aqui começa o cabeçalho */
    div#menu {
        display: none;
    }

    h1#cabecalho__titulo {
        font-size: 2.8rem;
        color: var(--cor-texto-amarelo);
    }
    /* Aqui termina o cabeçalho */

    h2#banner_apresentacao-titulo {
        font-size: 4rem;
    }

    h3#banner_apresentacao-subtitulo {
        font-size: 3rem;
    }
}
