@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #ffffff;
}

:root {
    --fonte-padrao: "Heebo", sans-serif;
    --cor-texto-azul: #1363df;
    --cor-texto-amarelo: #e6ae00;
    --bg-preto-2: #323232;
}

body {
    background-color: #222222;
    font-family: var(--fonte-padrao);
}

header#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-preto-2);
    padding: 1.5rem;
}

h1#cabecalho__titulo {
    font-size: 4.5rem;
    color: var(--cor-texto-amarelo);
}

ul#menu__lista {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

ul#menu__lista li {
    margin-left: 1.5rem;
}

ul#menu__lista li a {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-texto-azul);
    font-weight: 900;
}

ul#menu__lista li a:hover {
    border-bottom: 3px solid var(--cor-texto-amarelo);
}

article#banner_apresentacao {
    background-image: url(/assets/img/banner.png);
    background-position: 30% 45%;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#banner_apresentacao-descricao {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

h2#banner_apresentacao-titulo {
    font-size: 6rem;
    color: var(--cor-texto-amarelo);
    text-transform: uppercase;
}

h3#banner_apresentacao-subtitulo {
    font-size: 4rem;
}

section#apresentacao {
    background-color: var(--bg-preto-2);
    padding: 7rem 0;
}

article#apresentacao_sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

img#apresentacao_sobre-img {
    width: 25vw;
    max-width: 350px;
    min-width: 250px;
    box-shadow: 0px 10px 17px 0px #000000;
}

div#apresentacao_sobre-texto {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h2#apresentacao_sobre-titulo {
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

p#apresentacao_sobre-paragrafo {
    text-align: center;
    font-size: 2.5rem;
}

section#servicos {
    padding: 7rem 0;
}

article.apresentacao_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

h2.apresentacao_cards-titulo {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

div.apresentacao_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.5rem 3.5rem;
}

div.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 300px;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
    transition: all 60ms;
}

div.cards:hover {
    transform: scale(1.1);
}

i.bi,
i.bi-code-slash,
i.bi-laptop,
i.bi-columns-gap {
    font-size: 5rem;
    color: var(--cor-texto-azul);
}
h2.cards-texto {
    font-size: 2rem;
    font-weight: 400;
}

section#skills,
section#projetos {
    padding: 7rem 0;
    background-color: var(--bg-preto-2);
}

section#hards {
    padding: 7rem 0;
}

img.cards_img {
    width: 10vw;
}

article#apresentacao_projetos {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

h2.apresentacao_projetos-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
}

div.projetos-cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem 4rem;
}

div.projetos_cards {
    width: 60%;
    max-width: 460px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem 4rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
}

h2.projetos_cards-titulo {
    font-size: 3rem;
    color: var(--cor-texto-amarelo);
}

iframe.projetos_cards-video {
    width: 100%;
    min-width: 200px;
    height: 315px;
}

p.projetos_cards-descricao {
    font-size: 1.8rem;
    text-align: justify;
}
a#projetos_cards--descricao-link {
    font-size: 1.8rem;
    text-align: justify;
    text-decoration: none;
}

a#projetos_cards--descricao-link:hover {
    text-decoration: underline;
}

section#contato {
    padding: 7rem 0;
}

article#contato_apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3.5rem;
}

h2#contato_apresentacao-titulo {
    font-size: 4rem;
    color: var(--cor-texto-amarelo);
    text-transform: uppercase;
}

div#cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.contato_apresentacao-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 5px 0px #000000;
    border-top: 5px solid var(--cor-texto-azul);
    transition: all 60ms;
}

div.contato_apresentacao-cards:hover {
    transform: scale(1.1);
}

img.contato_cards-img {
    width: 5vw;
}

footer#rodape {
    padding: 4rem 0;
    background-color: var(--bg-preto-2);
}
p#rodape_texto {
    font-size: 2rem;
    text-align: center;
    color: var(--cor-texto-amarelo);
}
a#rodape_texto-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--cor-texto-azul);
}

a#rodape_texto-link:hover {
    text-decoration: underline;
}
